@{
    Layout = "_layout.cshtml";
}

<h3>Skapa nytt citat</h3>
<form method="post" action="/Quotes/Create">
    Kid:<br /><select id="KidId" name="KidId">
        @foreach (var kid in Model.Kids)
        {
            <option value="@kid.Id">@kid.Name</option>
        }
    </select> <br />
    Said at:<br /><input type="text" id="SaidAt" name="SaidAt" value="@DateTime.Now.ToShortDateString()" style="width:160px" /><br />
    Quote:<br /><textarea id="Quote" name="Quote" rows="15" cols="35"></textarea><br />
    Tags:<br /><input type="text" id="Tags" name="Tags" value="" style="width:160px" /> <br />
    <input type="submit" value="Spara" />
</form>