@{
    Layout = "_layout.cshtml";
}
               

@foreach (var quote in Model.Quotes)
{
    <div id="@quote.Id">
        <h2>@quote.SaidAt</h2>
        <span class="normalQuote">@quote.Text</span>
        <br />
        <span><a href="#">DontWantToWalk</a>, <a href="#">Sweet</a></span>
        <hr />
    </div>
}

@section Menu
{
    <ul>
    @foreach (var kid in Model.Kids)
    {
        <li>@kid.Name</li>
    }
    </ul>
}
