@{
    Layout = "_layout.cshtml";
}
@if (@Model.IsAuthenticated)
{
    <p><a href="/Quotes/Create">Ändra</a></p>
}
@foreach (var quote in Model.Quotes)
{
    <div>
        <blockquote class="example-right">
            <a href="/Quotes/@quote.Id">
                <p>
                    @Html.Raw(quote.Quote)
                </p>
            </a>
        </blockquote>
        <p>@quote.Name den @quote.SaidAt.Date.ToShortDateString()</p>
        <p>
            <div class="fb-like" 
                 data-href="http://abbesays.apphb.com/Quotes/@quote.Id" 
                 data-send="false" 
                 data-width="450" 
                 data-show-faces="true" 
                 data-font="verdana">
            </div>
        </p>
    </div>
}
