@{
    Layout = "_layout.cshtml";
}
               

@foreach (var quote in Model.Quotes)
{
    <div id="@quote.Id">
        <h2><a href="/Quotes/@quote.Id">@quote.SaidAt.Date.ToString("yyyy-MM-dd hh:mm")</a></h2>
        <span class="normalQuote">@Html.Raw(quote.Quote)</span>
        <div class="fb-like" 
             data-href="http://www.abbeSays.se/Quotes/@quote.Id" 
             data-send="false" 
             data-width="450" 
             data-show-faces="true" 
             data-font="verdana"></div>
        <hr />
    </div>
}
