@{
    Layout = "_layout.cshtml";
}
@foreach (var quote in Model.Quotes)
{
    <div>
        <blockquote class="example-right">
            <a href="/Quotes/@quote.Id">
                <p>
                    @Html.Raw(quote.Quote)
                </p>
            </a>
        </blockquote>
        <p>@quote.Name den @quote.SaidAt.Date.ToShortDateString()</p>
        <p>
            <fb:like 
                href="http://abbesays.apphb.com/Quotes/@quote.Id" 
                send="false" 
                width="450" 
                show_faces="true" 
                font="verdana">
            </fb:like>            
        </p>
    </div>
}
